 	*{margin:0;padding:0;}
	a{text-decoration:none;}
	ul li{list-style:none;}
	#wrap{margin:0 auto;min-width:1263px;height:3300px;/*border:1px solid red;*/}
	/*#header 头部*/
	#header{width:1263px;height:30px;background:#f7f7f7;margin:0 auto;}
	#header-left{width:100px;height:30px;margin-left:60px; float:left;}
	#header-left a{width:100px;height:30px;line-height:30px;text-align:center;}
	#header-left a:hover{color:red;text-decoration:underline;}
	#header ul{display:inline-block;width:740px;height:30px;float:right;}
	#header ul li{height:30px; float:left;margin:0 5px;}
	#header ul li a{display:block;height:30px;line-height:30px;text-align:center;}
	#header ul li a span{color:red;}
	#header ul li a:hover{color:red;background:gray;}
	/*title*/
	#title{width:1263px;height:100px;background:#343841; margin:0 auto;}
	#title > div{float:left;}
	#title-pic{width:200px;height:50px;text-align:center;margin:25px 0;margin-left:30px;}
	#title-content ul{width:595px; height:100px; margin-left:72px;}
	#title-content ul li{width:80px; height:50px; float:left; line-height:100px;font-size:20px;margin-left:30px;text-align:center;}
	#title-content ul li a{color: #fff;width:100px;display:inline-block; line-height: 50px;}
	#title-content ul li a:hover{background: white;color: red;}
	#title-btn input{width:200px;height:40px;}
	#title-btn button{display:inline-block;width:100px;height:40px;color:#fff;background:#f60;font-size:16px;border:none;}
	#title-btn{margin-top:30px; margin-left:20px;}
	#header-footer{width:1263px;height:30px;background:#f60;margin:0 auto;}
	#header-footer ul{width:1263px;height:30px;margin-left:20px}
	#header-footer ul li{width:90px;height:30px;; float:left;line-height:30px;text-align:center;}
	#header-footer ul li a{display:inline-block;color:white;width:90px;height:30px;}
	#header-footer ul li a:hover{background:black;color:green;}
	/*header-photo*/
	#turo{ width:1263px;height:50px; margin:0 auto;text-indent: 20px;}
	#turo li{float: left; line-height: 50px;}
	#turo li a{font-size: 18px;color: #343841;}
	#shili{display:block;width: 1263px; height:620px;border: 1px solid #cccccc; margin: 0 auto; background: #fff; overflow:hidden;}
	#shili ul{float: left; width: 66px; margin: 38px 11px 92px 53px;}
	#shili ul li{margin: 8px 0;}
	/*#shili ul .tubiao {text-align: center;}
	#shili ul .tubiao1 {text-align: center; padding-top: 160px;}*/
	.shili-tu{width: 436px;float: left; margin-top:44px ;}
	.shili-tu1{width: 108px; height: 38px; margin: 36px 0 0 102px; background: #71737a; border: 1px solid #CCCCCC;}
	.shili-tu1 a{color: #fff; line-height: 38px; margin-left: 24px;}
	.shili-qu{width: 556px;float: left; margin:31px 0 0 36px;}
	#shili-zhong{width: 555px; height: 176px; border-top: 1px  dashed #CCCCCC;border-bottom: 1px  dashed #CCCCCC;}
	.shili-qu div p{line-height: 36px; color: #6e7075;}
	.shili-qu p span{width:60px;margin-right: 11px;border: none; line-height: 22px; height: 20px;border: 1px solid #CCCCCC;font-size: 11px;color: #6e7075;display: inline-block;}
	.shili-qu p{font-size: 12px; color: #6e7075; line-height: 34px; margin-right:25px ;}
	.shili-qu p input{width: 17px; height: 22px;}
	#shili-qu-btn{margin: 22px 0 13px 0;}
	#shili-qu-btn button{border: none; width: 128px;height: 38px;font-size: 17px; color: #fff;}
	.tubiao{position: relative;left: -1075px;top: 15px;}
	.tubiao1{position: relative;left: -1105px;top: 500px;}
	.shili-qu #change .border-change{border: 1px solid orangered; color: orangered;}
	/*主体*/
	#tab{width: 1263px;height:auto;margin: 0 auto;background: white;}
	.content{border:1px solid #ddd;background-color:#efefef;}
	.title{overflow: auto;}
	.title span{padding:10px;background-color:#ccc;border-right:1px solid #999;float: left;}
	.title span.active{background-color:lightgray;color:#fff;}
	.content p{float: left;height: 100px;line-height: 100px;margin-right: 200px; margin-left: 50px;}
	.content-div1{padding-left: 30px;background: white;}
	.content-div2{padding-left: 400px; background: white;}
	.content-div3{padding-left: 150px; background: white;}
	.tab1 tr td{width: 100px;height: 30px; text-align: center;}
	.tab2 tr td{width: 120px;height: 30px; text-align: center;}
	table{border-collapse:collapse;}
	table td th{border:1px solid  darkgray;}
	
	
	/*放大镜*/
	#box{
	  width:430px;
	  height:430px;
	  position:relative;/*/这里使用相对定位，好让其他的元素能依靠这个元素定位*/
	}
	#box img{
		width:430px;
	  	height:430px;
	}
	#move{
	  background:#f60;
	  width:220px;
	  height:220px;
	  position:absolute;
	  opacity: 0.5;
	  left:0px;
	  top:0px;
	  display:none;/*/先让他隐藏，用js使其显示*/
	}
	#bimg{
	  width:430px;
	  height:430px;
	  overflow:hidden;
	  position:absolute;
	  top:0px;
	  left:450px;
	  display:none;/*先让他隐藏，用js使其显示*/
	}
	#bimg img{
	  width:800px;
	  height:800px;
	  position:absolute;
	  top:0px;
	  left:0px;
	}
	/*---底部----*/
	#ibtn{width:1263px; border-top: 1px solid gray;margin:0 auto;margin-top: 60px; /*margin:60px 0 0 51px;*/ overflow:auto;}
	#ibtn1{width:950px; margin:36px 0 0 37px;height:250px;float:left; }
	#ibtn1 ul{float:left;margin-right:93px;}
	#ibtn1 ul li p {line-height:25px;}
	#ibtn1 ul li  h4{line-height:25px;}
	#ibtn2{width:270px;float:left;}
	/*#ibtn2{content:".";clear:both; display:block;height:0;}*/
	#ibtn2 dl {float:left; margin-top:30px;}
	#ibtn2>dl>dt{margin:0 25px 7px 0}
	#ibtn2>dl>dd{padding-left:7px}
	#ibtn3>dl>dt{float:left; margin-top:6px}
	#ibtn3>dl>dd{float:left;}

	#obtn{width:1263px;height:105px; background:#2e323a; margin:0 auto;}
	#obtn>dl{width:175px; height:52px; padding:24px 0 0 63px;float:left; }
	#obtn>dl dt{float:left; margin-right:12px;}
	#obtn>dl dd{float:left;margin-top:7px;}
	#obtn>dl dd p{line-height:20px;color:#fff;}

	#floor-btn{width:1200px; margin:0 auto; margin-top:11px;}
	#floor-btn a{line-height:25px;}
	#floor-btn p{line-height:25px; margin-bottom:18px;}
	.bottomx{position:fixed; bottom:30px;right:50px;}